body {
    background: linear-gradient(0deg, #111827, #1a273e, #213655, #28466d, #2d5784, #32699b, #357cb2, #3790ca, #38a6e1, #38bdf8);
    background-repeat: no-repeat;
    overflow-x: hidden;
    position: relative;
    z-index: 1;
    min-height: 100vh;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #03071250;
}

.desc {
    max-width: 60%;
}

#toast-simple {
    animation: notifikasi 3s ease-in-out forwards;
}

#toast-simple2 {
    animation: notifikasi 3s ease-in-out forwards;
}

@keyframes notifikasi {
    0%, 100% {
        left: -100%;
    }

    15%, 25%, 35%, 50%, 75% {
        left: 20px;
    }
}