body {
    background: linear-gradient(45deg, #111827, #1d2b41, #28405e, #31577b, #386f9a, #3c88b9, #3ca2d8, #38bdf8);
    background-repeat: no-repeat;
    overflow-x: hidden;
    position: relative;
    z-index: 1;
    height: 100vh;
    width: 100vw;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #0307127e;
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #38BDF8 #1F2937;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
    height: 6px;
    width: 6px;
}

*::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #1F2937;
}

*::-webkit-scrollbar-track:hover {
    background-color: #1F2937;
}

*::-webkit-scrollbar-track:active {
    background-color: #1F2937;
}

*::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #38BDF8;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #06B6D4;
}

*::-webkit-scrollbar-thumb:active {
    background-color: #06B6D4;
}

.list-antrian {
    height: 80vh;
    width: 55%;
}

.paimon {
    width: 15%;
}

.kartu-list {
    position: relative;
    z-index: 1;
}

.kartu-list::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    background: linear-gradient(-45deg, #38bdf8, rgba(55, 65, 81, 1), #38bdf8);
    border-radius: .5rem;
}

.isi {
    width: 100%;
    display: grid;
    grid-template-rows: 1.5fr .5fr;
}

.genshin-data {
    width: 100%;
    display: grid;
    grid-template-columns: 4fr 1fr 7fr;
}

#toast-simple {
    animation: notifikasi 5s ease-in-out forwards;
}

.chibi-modal {
    height: 60%;
    top: -50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    animation: chibi-modal 5s ease infinite forwards;

}

@keyframes chibi-modal {

    0%,
    100% {
        transform: translate(-50%, 0);
    }

    50% {
        transform: translate(-50%, -7%);
    }
}

.chibi {
    height: 35%;
    z-index: 10;
    bottom: -2%;
    right: 0;
}

@keyframes notifikasi {

    0%,
    100% {
        right: -100%;
    }

    15%,
    25%,
    35%,
    50%,
    75% {
        right: 20px;
    }
}

@media screen and (max-width:375px) {
    *::-webkit-scrollbar {
        width: 4px;
    }

    .paimon {
        width: 30%;
    }

    .list-antrian {
        width: 100%;
    }

    .isi {
        font-size: .6rem;
    }

    .chibi {
        height: 25%;
        right: -3%;
        bottom: -2%;
    }
}

@media screen and (min-width:375px) and (max-width:425px) {
    .list-antrian {
        width: 100%;
    }

    .isi {
        font-size: .7rem;
    }

}

@media screen and (min-width:426px) and (max-width:768px) {
    .list-antrian {
        width: 80%;
    }

}